/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-bold';

  src: url('../src/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-regular';

  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-medium';

  src: url('../src/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-semibold';

  src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
} 

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

div:hover::-webkit-scrollbar-thumb {
  background-color: #47B9AD;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00A69C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #C4C4C4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}