/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-bold';

  src: url('../src/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-regular';

  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-medium';

  src: url('../src/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-semibold';

  src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
} 

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

div:hover::-webkit-scrollbar-thumb {
  background-color: #47B9AD;
}
