
@font-face {
  font-family: 'DMsans-Bold';
  src: url(/public/fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: 'DMsans-Medium';
  src: url(/public/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: 'DMsans-Regular';
  src: url(/public/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(/public/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(/public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(/public/fonts/Poppins-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
